<p>hello from blog !</p>

<p class="p-3" [ngClass]="{
    'bg-danger' : isActive,
    'text-white': case > 0
}">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel consequuntur nihil modi, quaerat animi et tempore aliquam, maxime perspiciatis qui omnis. Ex eos repellendus itaque eaque alias, assumenda deserunt ad?
</p>

<p [ngStyle]="{
    'background-color' : isActive ? 'blue' : 'yellow',
    'font-size' : case > 2 ? '20px' : '50px',
}">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quaerat libero consectetur. Quisquam, iure molestias! Minima blanditiis deserunt mollitia vitae.
</p>

<div>
    <!-- @for(i of friends ; track $index){
    <span class="px-5">{{i}}</span>
    }
    <br>
    <hr>
    <span class="px-5" *ngFor="let friend of friends ">{{friend}}</span>
    <h1 *ngIf="isActive; else anyName">Hello from blog</h1>
     @if(isActive){
        <h1>Hello from blog</h1>

        }
        <div class="pt-5" [ngSwitch]="case">
            <p class="px-5" *ngSwitchCase="1">Case 1</p>
            <p class="px-5" *ngSwitchCase="2">Case 2</p>
            <p class="px-5" *ngSwitchCase="3">Case 3</p>
            <p class="px-5" *ngSwitchCase="4">Case 4</p>
            <p class="pt-5" *ngSwitchDefault >Case 5</p>
        </div>
        -->

    </div>



<!-- <ng-template #anyName>Instead Header</ng-template> -->