
<div class="bg-info  ">
    <div>
        <p>hello from {{componentName}}</p>
        <p>the Number is {{num}}</p>
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempore at ullam quisquam rem in illum officiis iusto, esse dignissimos, earum nulla! Possimus consequuntur adipisci illo! In labore a ipsam laborum repellendus. Vero distinctio dolorum non laborum, aperiam molestias! Fugit, laboriosam repellendus delectus ex ipsa iste, ratione recusandae officiis, dolores incidunt quam in. Repellat aspernatur facilis porro illum incidunt mollitia nam ad libero voluptatem quisquam consequatur, ex, odit dolor saepe praesentium nobis tempore modi! Quo sed veritatis quasi culpa provident rem repudiandae nisi quaerat sit maxime dolorem, minus quisquam ratione a reiciendis sapiente quos voluptates vel laborum! Pariatur, magnam necessitatibus?</p>
    <img [src]="imgPath"/>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <div [class]="(flag == true) ? 'bg-info' : ''">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum enim odit maiores, similique facere consequatur, voluptatibus asperiores numquam quam sint ducimus repellat aliquid reprehenderit quidem. Esse sint quas a magni.
    </div>
    <button class="btn btn-primary" (click)="sayHello()">Hello</button>
</div>
<div class="input-group">
  <input 
    type="text" 
    class="form-control"
    placeholder="Username" 
    aria-label="Username" 
    aria-describedby="basic-addon1"
    >
</div>